<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CorkboardMapping_.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5EABAC7D18B6C86E00B52D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EABACA418B6C86E00B52D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF611A418C26E8A00A7AD7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF611BB18C2B16800A7AD7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF611DB18C2B16800A7AD7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
